.footer {
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #66bb6a;
  }
  