

.home-container {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fff9;
  color: #2e7d32;
  text-align: center;
  padding: 20px;
}

.hero {
  padding: 50px 20px;
  
}


.title {
  font-size: 4rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #388e3c;
  
}

.about, .plants, .contact {
  padding: 40px;
  margin-top: 30px;
  font-size: 10px;
  
}

h2 {
  font-size: 2rem;
  color: #ffffff;
}

.plant-container, .team-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.plant, .team-member {
  text-align: center;
}

.plant img, .team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 50px;
}

.plant video{
  width: 250px;
  height: 250px;
  border-radius: 65%;
  object-fit: cover;
  margin: 50px;
}

.team-member p {
  font-style: italic;
  font-size: 20px;

}

.team-member a{
  color: #388e3c;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.team-member a:hover {
  color: #66bb6a;
}


